@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #2B2B2B;
}

:root {
    --mainFont: work sans;
    --subFont: space mono;
}

.animation-header {
    opacity: 0;
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.animation-header.visible {
    opacity: 1;
}

.animation {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.animation.visible {
    opacity: 1;
    transform: translateY(0);
}

.navbar {
    font-family: var(--mainFont);
}

.nav-sign {
    background-color: #A259FF;
    padding: 5px 10px;
    border-radius: 20px;
}

@media screen and (max-width: 992px) {
    .navbar-nav {
        align-items: start !important;
    }

    .nav-sign {
        background-color: transparent;
        padding: 0px;
        border-radius: 0px;
    }

}

.background-creator {
    padding: 0px 0px 50px 0px;
}


.background-image {
    background: linear-gradient(180deg, rgba(151, 71, 255, 0) 22%, rgba(151, 71, 255, 1) 95%);
    width: 100%;
    height: 100%;
    z-index: 2;
}

.background-image img {
    left: 16%;
    top: 85%;
    border-radius: 20px;
    z-index: 1;
}

.description-creator{
    padding: 50px 0;
}

.copy button {
    background-color: #A259FF;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: var(--mainFont);
    color: #fff;
    border: none;
}

.follow button {
    border: 1px solid #A259FF;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: var(--mainFont);
    color: #fff;
    justify-content: space-around;
}

.creator-contant {
    color: #fff;
}

.creator-contant h3 {
    color: #858584;
}

.nav-tabs{
border: none;
font-family: var(--mainFont);
}

.nav-tabs .nav-link.active{
color: white;
background-color: transparent;
border-left: none;
border-right: none;
border-top: none;
border-radius: 0;
border-bottom: 2px solid #858584;
}

.nav-tabs .nav-link{
border: none;
}

.nav-tabs .nav-link:hover{   
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #858584;
}

.nav-tabs .nav-link:focus{
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #858584;
}

.nav-tabs button{
color: #858584;
font-size: 20px;
}

.tab-pane{
    color: #858584;
}

.tab-content{
    background-color: #3B3B3B;
}
.discoverd-more {
    color: #fff;
}

.discover-item {
    width: calc((100% - 32px) / 3);
    background-color: #2B2B2B;
    border-radius: 20px;
}

.discover-item-content {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.discover-item-content img {
    border-radius: 50%;
}

.Image-Placeholder {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .discoverd-more-content {
        flex-direction: column;
        justify-content: stretch !important;
    }

    .discoved-nft {
        flex-direction: column;
    }

    .discover-item {
        width: 100%;
        ;
    }

    .discoverd-more-button {
        justify-content: center;
    }
}

.footer {
    padding: 50px 0;
    background-color: #3B3B3B;
}

.footer h2 {
    color: #fff;
    font-family: var(--subFont);
}

.footer-logo img {
    height: 25px;
}

.footer p,
.footer a {
    color: #CCCCCC;
    font-family: var(--mainFont);
}

.footer a {
    text-decoration: none;
}

.footer form input {
    left: 0;
    width: 53%;
    padding: 11px 10px;
    border-radius: 20px;
}

.footer form input::placeholder {
    color: #2B2B2B;
}

.footer form button {
    background-color: #A259FF;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 20px;
    left: 45%;
}

@media screen and (max-width: 1400px) {
    .footer form button {
        left: 46%;
    }
}

@media screen and (max-width: 1200px) {
    .footer form input {
        width: 60%;
    }

    .footer form button {
        left: 55%;
    }
}

@media screen and (max-width: 992px) {
    .footer form input {
        width: 85%;
    }

    .footer form button {
        left: 76%;
    }
}

@media screen and (max-width: 768px) {
    .footer form input {
        width: 40%;
    }

    .footer form button {
        left: 35%;
    }
}

@media screen and (max-width: 495px) {
    .footer form input {
        width: 70%;
    }

    .footer form button {
        left: 60%;
    }
}